<%- include('partials/header') %>
<%if (message) {%>
<div style="text-align: center" class="alert alert-{{message.type}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%=message['intro']%></strong> <p><%=message['message']%></p>
</div>
<%}%>
<div style="text-align: center; align-items: center;">
<div class="jumbotron" style="text-align: center;">
    <h1 class="display-4"><%= details[0].title %></h1>
    <h3 class="lead">ISBN: <%= details[0].ISBN %></h3>
    <h3>Rating: <%= avgRating %></h3>
    <h3>Author: <%- details[0].author %></h3>
    <h5>Year of Publication: <%= details[0].year_of_pub %></h5>
    <h5>Shelf: <%= details[0].shelf_id %>, Status: <%= details[0].current_status %></h5>
    <form action="/book_shelf/<%= details[0].ISBN %>" method="post">
        <% if(book_shelf){  %>
            <button class="btn btn-primary btn-lg" type="submit" id="Issue">Add to Book Shelf</button>
        <%  }else{ %>
            <p class="lead">Present in Book_shelf</h4>
        <% } %> 
    </form>
</div>
<br>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <th>Copy Number</th>
        <th>Availability</th>
    </thead>
    <tbody>
        
            <% copies.forEach(function(copy){    %>
            <tr>
                <td><%= copy.copy_number %></td>
                <% if(copy.current_status===1){  %>
                <td>Availiable</td>
                <% }else{   %>
                <td>Unavailiable</td>
                <% }  %>
            </tr>
            <% })   %>
        
    </tbody>
    
</table>
<br>
<form style="align-items: center;" action="/hold_request/<%= details[0].ISBN %>" method="post">
    <% if(hold){  %>
        <button class="btn btn-secondary" type="submit" id="Hold">Hold</button>
    <%  }else{  %>
        <button class="btn btn-secondary" type="submit" role="button" id="Hold" disabled>Hold</button>
    <%  }  %>
</form>
<br>
<form style="align-items: center;" action="/issue/<%= details[0].ISBN %>" method="post">
    <% if(issue){  %>
        <button class="btn btn-dark" type="submit" id="Issue">Issue</button>
    <%  } %>
</form>

<br>
<form action="/dashboard/feedback/<%= Isbn%>" method="GET">
    <button type="submit" class="btn btn-info">Give Feedback</button>
</form>
<br>
<br>
<h4>User Feedbacks</h4>
<br>
<table class="table table-bordered table-hover" border="1px">
    <thead class="thead-dark">
        <th>ID</th>
        <th>Rating</th>
        <th>Review</th>
    </thead>
    <tbody>
        
            <% data.forEach(function(result){    %>
            <tr>
                <td><%= result.ID %></td>
                <td><%= result.rating %></td>
                <td><%= result.Reviews %></td>
            </tr>
            <% })   %>
        
    </tbody>
    
</table>
</div>
<%- include('partials/footer') %>