<%- include('partials/header') %>
<table class="table table-bordered table-hover" border="1px">
    <thead class="thead-dark">
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year of Publication</th>
        <th>Shelf No.</th>
        <th>Status</th>
    </thead>
    <tbody>
        
            <% results.forEach(function(result){    %>
            <tr>
                <td>
                    <a href="/book_details/<%= result.ISBN %>"><%= result.ISBN %></a>
                </td>
                <td><%= result.title %></td>
                <td><%- result.author %></td>
                <td><%= result.year_of_pub %></td>
                <td><%= result.shelf_id %></td>
                <td><%= result.current_status %></td>
            </tr>
            <% })   %>
        
    </tbody>
    
</table>
<%- include('partials/footer') %>